
.verticalClass{
    padding: 24px 32px;
    width: 1000px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid #ffffff;
    background: #ffffff;
    font-size:24px;
    .head-title{
        font-size: 20px;
        font-weight: 600;
        color: #3b3558;
    }
    .subhead-title{
        padding: 4px 0 0px 0px;
    }
}
