@font-face {
    font-family: "PersagyBold";
    src: url("./font/PersagyBold2.ttf");
  }
  
  @font-face {
    font-family: "Persagy";
    src: url("./font/PersagyRegular2.ttf");
  }

.verticalClass {
    padding: 24px 32px;
    min-width: 960px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background:rgba(255,255,255,0.8);
    font-size: 24px;
    .head-title {
        font-size: 20px;
        font-weight: 600;
        color: #3b3558;
        display: flex;
        align-items: center;
    }
    .subhead-title {
        padding: 4px 0 0px 0px;
        color: #575271;
        font-size: 14px;
    }
}
.horizontalClass {
    padding: 24px 32px;
    box-sizing: border-box;
    border-radius: 20px;
    background: #ffffff;
    font-size: 20px;
    .head-title {
        font-size: 20px;
        font-weight: 600;
        color: #3b3558;
        display: flex;
        align-items: center;
    }
    .subhead-title {
        padding: 4px 0 0px 0px;
        color: #575271;
        font-size: 14px;
    }
}
